* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 55%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: hsl(210, 46%, 95%);
}

.card {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 8px 8px 0 0;
}

.card .content {
    display: grid;
    grid-row-gap: 10px;
    align-items: center;
    padding: 2.5rem;
}

.profile-img img {
    width: 45px;
    border-radius: 100%;
}

.content .title,
.profile-info .name {
    font-size: 2rem;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.content .description {
    color: hsl(214, 17%, 51%);
}

.profile-info .name {
    font-size: 1.6rem;
}

.profile-info .date {
    color: hsl(212, 23%, 69%);
}

.share-btn {
    position: relative;
    width: 15px;
    height: 15px;
    background: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 1.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    z-index: 1;
}

.btn-tooltip img {
    width: 20px;
    vertical-align: middle;
}

.share-btn:hover {
    background: hsl(214, 17%, 51%);
    color: #fff;
}

.footer-wrapper,
.right-container {
    display: grid;
    grid-row-gap: 1rem;
    position: relative;
}

.card .footer {
    display: grid;
    grid-template-columns: auto 10fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    padding: 2rem 2.5rem;
}

.btn-tooltip {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background: hsl(217, 19%, 35%);
    justify-content: start;
    align-items: center;
    grid-column-gap: 25px;
    font-size: 2rem;
    color: hsl(214, 17%, 51%);
    padding: 2rem 2.5rem;
    border-radius: 0 0 8px 8px;
    letter-spacing: 4px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(.5em);
    transform: translateY(.5em);
    transition: visibility 0s .5s,
        opacity .2s ease-out,
        transform .5s cubic-bezier(0, 1, .5, 1),
        -webkit-transform .5s cubic-bezier(0, 1, .5, 1);
}

.btn-tooltip.active {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity .2s ease-out,
        transform .5s cubic-bezier(0, 1, .5, 1),
        -webkit-transform .5s cubic-bezier(0, 1, .5, 1);
}

.attribution {
    font-size: 1.3rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/*desktop view*/

@media (min-width: 991px) {
    html {
        font-size: 62.5%;
    }

    .card {
        grid-template-columns: 2fr 4fr;
        width: 60vw;
    }

    .card .img-container {
        width: 320px;
        overflow: hidden;
    }

    .card-img {
        width: 390px;
        border-radius: 8px 0 0 8px;
    }

    .card .content,
    .card .footer {
        padding: 0 2.5rem;
    }

    .btn-tooltip {
        position: absolute;
        font-size: 1.2rem;
        padding: 1rem 2rem;
        border-radius: 8px;
        left: calc(100% - 14.5em);
        bottom: 4.5em;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-.25em);
        transform: translateY(-.25em);
        width: 50%;
        justify-content: center;
        grid-column-gap: 2rem;
    }

    .btn-tooltip::after {
        border-color: hsl(217, 19%, 35%) transparent;
        border-radius: 0;
        border-style: solid;
        border-width: .6em .6em 0 .6em;
        bottom: -.6em;
        content: "";
        left: calc(50% - .2em);
        position: absolute;
        width: 0;
    }

}
